:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-gray: #888888;
  --basic-midle-gray: #A6A6A6;
  --basic-light-gray: #EEEEEE;
  --basic-dark-gray: #283136;
  --basic-dim-gray: #666666;
  --basic-bright-red: #FB565A;
  /* цвета только из каталога*/
  --basic-card-gray: #4D4D4D;
  --basic-smoky-gray: #F2F2F2;
  --basic-dusty-gray: #E1E1E1;
  --basic-aluminum-gray: #ABABAB;
  --basic-plant-green: #00CA74;
  --basic-light-black: #231F20;
  --basic-dusty-black: #444444;
  --basic-mouse-gray: #D7DCDF;
  --basic-alto-gray: #DBDBDB;
}

.main-header {
  background-color: var(--basic-light-gray);
}

.main-wrapper {
  background-color: var(--basic-white);
}

.main-footer {
  background-color: var(--basic-white);
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*ширина контентной области*/
.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/*навигация*/
.main-navigation {
  display: grid;
  outline: 3px solid #ff0077;
  outline-offset: -3px;
  grid-template-columns: 160px 840px 160px;
}

/*Логотип nerds-logo*/
.main-header-logo {
  color: var(--basic-black);
}

/*Логоттп nerds-logo наведение*/
.main-header-logo:hover {
  color: var(--basic-black);
}

/*Логоттп nerds-logo нажатие*/
.main-header-logo:active {
  color: var(--basic-midle-gray);
}

/* Навигация Студия -- Клиенты -- Магазин -- Контакты */
.site-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 500;
}

/*Убрал подчеркивание у всех сслыок в body*/
.page-body a {
  text-decoration: none;
}

/*Активный находимся на странице*/
.site-navigation-link-current {
  color: var(--basic-black);
}

/*Навигация наведение*/
.site-navigation-link:hover {
  color: var(--basic-bright-red);
}

/*Навигация нажатие*/
.site-navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Корзина */
.basket {
  display: grid;
  outline: 3px solid #ff0000;
  outline-offset: -3px;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

/*Корзина наведение*/
.basket:hover {
  color: var(--basic-bright-red);
}

/*Корзина нажатие*/
.basket:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/*Долго, дорого, скрупулёзно и Слайдер*/
.features {
  display: grid;
  outline: 3px solid #ff0077;
  outline-offset: -3px;
  grid-template-columns: 1fr 1fr;
}

/* Долго, дорого, скрупулёзно */
.features h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.features p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-gray);
}

/*Веб-сайты Приложения Презентации*/
.catalog-item {
  display: grid;
  outline: 3px solid #ff0077;
  outline-offset: -3px;
  grid-template-columns: 300px 300px 300px;
  margin: 0;
  padding: 0;
  column-gap: 100px;
  list-style: none;
}

/* Веб-сайты -- Приложения -- Презентации */
.item-list h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.item-list p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-gray);
}

/* кнопки Узнать больше -- Заказать -- Напишите нам */
.button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);
}

/*кнопки Узнать больше - Заказать - Напишите нам, сотояние "Нажатие"*/
.button:active {
  opacity: 0.3;
}

/*Общий блок benefits и preview*/
.benefits-preview {
  display: grid;
  outline: 3px solid #ff0077;
  outline-offset: -3px;
  grid-template-columns: 1fr 1fr;
}

/* Мы маленькая, но гордая студия из Краснодара */
.benefits h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

/*Исповедуем принципы...*/
.benefits p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-gray);
}

/*Выполняем заказы на разработку*/
.benefits h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
}

.benefits-list {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-gray);
}

/* С 2004 года любим точность во всем: */
.preview h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Уровень саиоотдачи, Соблюдение сроков, Минимальная предоплата */
.about-item {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-gray);
}

/* 146% 100% 50% */
.percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

/* % */
.percent sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
}

/*партнеры*/
.partners {
  display: grid;
  outline: 3px solid #ff5500;
  outline-offset: -3px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 95px 104px 120px;
}

/*вконтакте фейсбук инстаграм*/
.footer-social {
  display: grid;
  outline: 3px solid #ff1100;
  outline-offset: -3px;
  grid-template-columns: 81px 81px 81px;
  column-gap: 7px;
}

/* footer Давайте дружить, это выгодно */
.invitation h3 {
  font-size: 36px;
  line-height: 36px;
}

.invitation p {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dusty-black);
}

/* footer Контакты */
/*NЁRDS DESIGN STUDIO*/
.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

/*Контакты*/
.contacts {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dim-gray);
  display: grid;
  outline: 3px solid #ff0000;
  outline-offset: -3px;
}

/* Телефонный номер */
.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dim-gray);
}

/*Разметка только элементов КАТАЛОГА*/
/*Магазин готовых шаблонов*/
.catalog-wrapper h1 {
  background-color: var(--basic-light-gray);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

/*SEDONA*/
.title-product-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*Информационный сайт для туристов*/
.desk-product-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dim-gray);
}

/*кнопки каталога 1, 2, 3*/
.catalog-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  text-decoration: none;
}

/*кнопки каталога 1, 2, 3 - нажатие*/
.catalog-list a:active {
  opacity: 0.3;
}

/*Следующая*/
.catalog-list-next {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  text-decoration: none;
}
